# Common
IMAGE_NAME=ghcr.io/myfloki/flokicoin:latest

# FLND Configuration
FLND_PORT=5521
FLND_RPC_PORT=10005
FLND_REST_PORT=5050
FLND_ALIAS=lokinode-operator
FLND_COLOR=#263d37

# Lokihub Configuration
LOKIHUB_PORT=1610
